* {
  box-sizing: border-box;
}

header {
  background-color: #ffe4c4;
  padding: 10px 0 4px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 90px;
}

body {
background-color: #ffffff;
font-family: 'Lato', sans-serif;
font-size: 16px; /* Sets the font size to 16px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.4;
}

h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
text-align: center;
}

h3 {
font-size: 1.35em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

h5 {
font-size: 1.35em;
font-weight: 400;
}

h6 {
font-size: 1.35em;
font-weight: 400;
}

img {
width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.logo {
  text-align: center;
  max-width: 150px;
}

.headshot {
  text-align: center;
  max-width: 300px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#work h1 {
  text-align: center;
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: center;
}

#work h4 {
  text-align: center;
}

#work h5 {
  text-align: center;
}

#work h6 {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#contact {
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#about-project {
  width: 100%;
max-width: 100%;
height: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    nav > ul {
      margin: 1em 0;
    }

    main {
      padding-top: 20px;
    }

    nav > ul > li {
      display: inline-block;
    }

    .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  padding: 0px 10px 0px 10px;
  float: left;
}

.logo {
  text-align: center;
  min-width: 641px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
background-color: #ffffff;
font-family: 'Lato', sans-serif;
font-size: 20px; /* Sets the font size to 16px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
text-align: center;
}

h3 {
font-size: 1.35em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

h5 {
font-size: 1.35em;
font-weight: 400;
}

h6 {
font-size: 1.35em;
font-weight: 400;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    nav > ul {
  margin: 1em 0;
}

    .navtoggle li:last-child {
      display: none;
    }

    .navtoggle li:not(:last-child) {
  display: inline-block;
}

    main {
      padding-top: 184px;
    }

  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    text-align: center;
    min-width: 641px;
  }

  body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 20px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  }

  h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  }
  h1 {
  font-size: 2.75em;
  font-weight: 700;
  }

  h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  }

  h3 {
  font-size: 1.35em;
  font-weight: 400;
  }
  h4 {
  font-size: 1.35em;
  font-weight: 400;
  }

  h5 {
  font-size: 1.35em;
  font-weight: 400;
  }

  h6 {
  font-size: 1.35em;
  font-weight: 400;
  }

}
